ol {
    background-color: yellow;
    width: 60%;
}

.par{
    color: green;
    font-weight: 600;
  }

  .impar{
      text-transform: uppercase;
      font-weight: 600;
  }

  h1, h3{
    color: red;
  }

  .header-italico{
      font-size: 40px;
      border: black 1px solid;
  }

  li{
      font-size: 20px;
  }

  .tres_primerios{
      color: blue;
  }

  .rosa{
      background-color: pink;
      width: 10%;
  }

  .mouse:hover{
    font-weight: 600;
  }